.hotel-list {
    border: 1px solid #eee;
    border-radius: 7px;
    margin-bottom: 2pc;
    webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    > .row {
        background: #fdfdfd;
        border-bottom: 1px solid #eee;
    }
}

.sub-heading {
    border-bottom: 1px solid #0c6565;
    margin: 0;
    padding: 1pc 0;
    padding-left: 0.5pc;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.hotel-group {
    margin-bottom: 0.5pc;
}

.hotel {
    legend {
        font-size: 14px;
        margin-top: 1.5pc;
    }
}