body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon {
  margin-right: 0.5pc;
}

.input-group {
  input {
    text-align: center;
  }
  .input-group-addon {
    cursor: pointer;
  }
}

.modal-content {
  .modal-header {
    background: teal;
    color: #fff;
  }
  .modal-body, .modal-footer {
    background: #fdfdfd;
  }
}

form {
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 1%;
  background: #fdfdfd;
  webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

a {
  &:visited, &:active {
    color: inherit;
  }
}