ul {
    list-style-type: none;
    padding: 0;
}
#rooms {
    display: flex;
    justify-content: space-evenly;
    .room {
        border: 1px solid #eee;
        border-radius: 7px;
        margin-bottom: 2pc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        height: 200px;
        webkit-box-shadow: 0 5px 15px rgba(0,0,0,.2);
        box-shadow: 0 5px 15px rgba(0,0,0,.2);

        ul {
            li {
                margin: 1pc 0;
                img {
                    width: 30px;
                    height: auto;
                }
                span {
                    margin-left: 0.5pc;
                }

            }
        }
    }

    @media only screen and (max-width: 768px) {
            flex-direction: column;
            .room {
                width: 100%;
            }      
    }
    
}

#note {
    display: inline;
    li {
        display: inline-block;
        img {
            width: 15px;
            height: auto;
            margin: 0 5px;
        }
    }
}